[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-coffee"]
	path = vim/bundle/vim-coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-textile"]
	path = vim/bundle/vim-textile
	url = https://github.com/kfl62/textile.vim.git
[submodule "vim/bundle/vim-sed"]
	path = vim/bundle/vim-sed
	url = https://github.com/mynameisrufus/vim-sed.git
[submodule "vim/bundle/vim-ack"]
	path = vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/vim-rdoc"]
	path = vim/bundle/vim-rdoc
	url = https://github.com/depuracao/vim-rdoc.git
[submodule "vim/bundle/vim-mustache"]
	path = vim/bundle/vim-mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-pbcopy"]
	path = vim/bundle/vim-pbcopy
	url = https://github.com/vim-scripts/pbcopy.vim.git
[submodule "vim/bundle/vim-clojure"]
	path = vim/bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/rogerz/vim-json.git
